body, html{
    padding: 0;
    margin: 0;
}

.disciplina-container{
    display: grid;
    width: 600px;
    height: 100%;
    background-color: rgb(196, 196, 246);
    border: 1px solid rgb(223, 211, 225);
    border-radius: 12px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.27);
    padding: 12px;
    margin: 12px;
    grid-template-columns: 1fr auto;
}

.disciplina-container:hover{
  transition: transform 10s ease-in-out;
  transform: rotate3d(2, 2, 0, 95deg);
}

.disciplina-container h1 {
    color: rgb(52, 8, 92);
    font-weight: 200;
}

.disciplina-container h2{
    color: rgb(58, 1, 107);
    cursor: crosshair;
    animation: 3s linear 1s infinite alternate slide-in;
}

